var DateFr = {
    getDate: function(time,sign) {
        var d = getDate(time);
        var month = (d.getMonth() + 1) < 10? '0'+(d.getMonth() + 1): (d.getMonth() + 1);
        var date = d.getDate() < 10? '0'+d.getDate(): d.getDate();
        var hours = d.getHours() < 10?'0'+d.getHours(): d.getHours();
        var min = d.getMinutes() < 10? '0'+d.getMinutes(): d.getMinutes();
        var seconds = d.getSeconds() < 10? '0'+d.getSeconds(): d.getSeconds();
        var dateTime=d.getFullYear() + sign + month + sign + date + ' ' + hours + ':' + min + ':' + seconds; 
        return dateTime;
    } 
}

module.exports = {
    getDate: DateFr.getDate
  }